<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2010-2011 Research In Motion Limited.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
  http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:rim="http://www.blackberry.com/ns/widgets" 
        version="1.0.0.2" id="Kitchen Sink WebWorks" xml:lang="en">
	
	<!--
		Configuration document developer guides
		
		config.xml sample:
			http://docs.blackberry.com/en/developers/deliverables/30182/Creating_a_BB_Widget_configuration_document_834664_11.jsp
		
		config.xml elements
			Tablet OS: http://docs.blackberry.com/en/developers/deliverables/30182/Widget_element_834671_11.jsp
			Smartphone: http://docs.blackberry.com/en/developers/deliverables/32971/Widget_element_1590978_11.jsp
	-->
	
	<name>Kitchen Sink WebWorks</name>
	<description>This application demonstrates how to implement various look, feel and functional features in a BlackBerry WebWorks application.</description>
	<author rim:copyright="2011" email="astanley@rim.com" href="http://www.blackberry.com/developers">Adam Stanley</author>
	<rim:loadingScreen backgroundImage="img/bluebackground.jpg" foregroundImage="img/bluebackground.jpg" onLocalPageLoad="true"/>
	<icon src="img/Wash.png"/>
	
	<rim:orientation mode="auto" />
	
	<content src="index.html"/>
	
	<rim:category name="Media"/>
	
	<rim:permissions>
		<rim:permit>access_shared</rim:permit>
		<rim:permit>record_audio</rim:permit>
		<rim:permit>read_geolocation</rim:permit>
		<rim:permit>use_camera</rim:permit>
		<rim:permit>read_device_identifying_information</rim:permit>
	</rim:permissions>
	
	<!-- 
		Universal APIs: 
			The following features are available on both Smartphone and Tablet OS
	-->
	<feature id="blackberry.app" required="true" version="1.0.0.0"/>
	<feature id="blackberry.app.event" required="true" version="1.0.0.0"/>
	<feature id="blackberry.system" required="true" version="1.0.0.0"/>
	<feature id="blackberry.system.event" required="true" version="1.0.0.0"/>
	<feature id="blackberry.ui.dialog" required="true" version="1.0.0.0"/>
	<feature id="blackberry.utils" required="true" version="1.0.0.0"/>

	<feature id="blackberry.media.camera" required="true" version="1.0.0.0"/>
	<feature id="blackberry.media.microphone" required="true" version="1.0.0.0"/>
	<feature id="blackberry.identity" required="true" version="1.0.0.0"/>
	<feature id="blackberry.invoke" required="true" version="1.0.0.0"/>
	<feature id="blackberry.io.file" required="true" version="1.0.0.0"/>
	<feature id="blackberry.io.dir" required="true" version="1.0.0.0"/>
	
	<!-- 
		Smartphone APIs: 
			The following features are available ONLY on Smartphone
	-->	
	<feature id="blackberry.ui.menu" required="true" version="1.0.0.0"/>
	<feature id="blackberry.identity.phone" required="true" version="1.0.0.0"/>
	<feature id="blackberry.invoke.AddressBookArguments" required="true" version="1.0.0.0"/>
	<feature id="blackberry.invoke.BrowserArguments" required="true" version="1.0.0.0"/>
	<feature id="blackberry.invoke.CalendarArguments" required="true" version="1.0.0.0"/>
	<feature id="blackberry.invoke.CameraArguments" required="true" version="1.0.0.0"/>
	<feature id="blackberry.invoke.JavaArguments" required="true" version="1.0.0.0"/>
	<feature id="blackberry.invoke.MapsArguments" required="true" version="1.0.0.0"/>
	<feature id="blackberry.invoke.MemoArguments" required="true" version="1.0.0.0"/>
	<feature id="blackberry.invoke.MessageArguments" required="true" version="1.0.0.0"/>
	<feature id="blackberry.invoke.PhoneArguments" required="true" version="1.0.0.0"/>
	<feature id="blackberry.invoke.SearchArguments" required="true" version="1.0.0.0"/>
	<feature id="blackberry.invoke.TaskArguments" required="true" version="1.0.0.0"/>
	<feature id="blackberry.message" required="true" version="1.0.0.0"/>
	<feature id="blackberry.message.sms" required="true" version="1.0.0.0"/>
	<feature id="blackberry.pim.Address" required="true" version="1.0.0.0"/>
	<feature id="blackberry.pim.Attendee" required="true" version="1.0.0.0"/>
	<feature id="blackberry.pim.Appointment" required="true" version="1.0.0.0"/>
	<feature id="blackberry.pim.category" required="true" version="1.0.0.0"/>
	<feature id="blackberry.pim.Contact" required="true" version="1.0.0.0"/>
	<feature id="blackberry.pim.Memo" required="true" version="1.0.0.0"/>
	<feature id="blackberry.pim.Recurrence" required="true" version="1.0.0.0"/>
	<feature id="blackberry.pim.Reminder" required="true" version="1.0.0.0"/>
	<feature id="blackberry.pim.Task" required="true" version="1.0.0.0"/>

	<feature id="blackberry.audio" required="true" version="1.0.0.0"/>
	<feature id="blackberry.audio.Player" required="true" version="1.0.0.0"/>

	<feature id="blackberry.find" required="true" version="1.0.0.0"/>
	<feature id="blackberry.phone.Phone" required="true" version="1.0.0.0"/>
	<feature id="blackberry.phone.PhoneLogs" required="true" version="1.0.0.0"/>
	
	<feature id="blackberry.push" required="true" version="1.0.0.0"/>
	<feature id="blackberry.find" required="true" version="1.0.0.0"/>
	
	<!-- 
		Tablet OS APIs: 
			The following features are available ONLY on Tablet OS
		...
	-->
	<!--
	COMMENT THE FOLLOWING WHEN BUILDING USING THE SMARTPHONE SDK.
	
	<feature id="blackberry.payment" required="true" version="1.0.0.0"/>
	-->
	
	<access subdomains="true" uri="*"/>

	<license href="http://www.apache.org/licenses/LICENSE-2.0">
		Licensed under the Apache License, Version 2.0 (the "License");
		you may not use this file except in compliance with the License.
		You may obtain a copy of the License at
			http://www.apache.org/licenses/LICENSE-2.0
		Unless required by applicable law or agreed to in writing, software
		distributed under the License is distributed on an "AS IS" BASIS,
		WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
		See the License for the specific language governing permissions and limitations under the License.
	</license>

</widget>