@CHARSET "ISO-8859-1";

body {
	background-color: black;
	color: white;
	margin: 0;
	overflow: hidden;
}

div.header {
	width: 100%;
	text-align: center;
}

div.title {
	background-image: url('../images/RSS_BW_Gradient.jpg');
	background-repeat: repeat-x;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 14pt;
	color: white;
	line-height: 36px;
	height: 36px;
	width: 100%;
}

div.templates {
	display: none;
}

.promptTitle {
	color: black;
	text-align:center;
	font-family: BBAlpha Sans;
	font-size: 16pt;
	margin-top: 10px;
}

.prompt-panel 
{
	margin: 8px;
	position: fixed;
	top: 75px;
}

.panel-top-left {
	margin-right: 9px; 
	height: 9px; 
	background-image: url('../images/settings/panel.png');
}
.panel-top-right {
	margin-top: -9px; 
	margin-left: 9px; 
	background-position: 100% 0; 
	height: 9px; 
	font-size: 2px;
	background-image: url('../images/settings/panel.png');
}
.panel-bottom-left {
	margin-right: 9px; 
	background-position: 0 -7px; 
	height: 9px;
	font-size: 2px;
	background-image: url('../images/settings/panel.png');
}
.panel-bottom-right {
	margin-top: -9px; 
	margin-left: 9px; 
	background-position: 100% -7px; 
	height: 9px; 
	font-size: 2px; 
	background-image: url('../images/settings/panel.png');
}
.panel-inside {
	border-left: 2px solid #D6D3D6;
	border-right: 2px solid #D6D3D6;
	background: White;
	padding-left: 3px;
	padding-right: 3px;
	overflow:auto;
}
.panel-nogap {
	margin-top: -3;
	margin-bottom: -3;
}

a.buttonCenter {
    background: transparent url('../images/settings/btnRight.png') no-repeat scroll top right;
    color: White;
    display: block;
    float: left;
    height: 39px;
    margin-left: 25%; 
    padding-right: 10px;  
    text-decoration: none;
    width: 45%;
    margin-bottom: 5px;
}

a.buttonCenter span {
    background: transparent url('../images/settings/button.png') no-repeat;
    display: block;
    line-height: 39px;
    padding: 0px 0px 0px 10px;
    text-align:center;
}

a.buttonCenter:hover {
	background-color:#2175F7;
}